phidata
streamlit==1.41.1
openai==1.58.1
duckdb==1.1.3
pandas
numpy==1.26.4
agno
matplotlib
groq
pydantic
sweetviz
scikit-learn
plotly
seaborn
statsmodels
jupyter
ipykernel
fpdf
streamlit==1.41.1
pandas
numpy==1.26.4
matplotlib
seaborn
plotly
duckdb==1.1.3
groq
scikit-learn
statsmodels
sweetviz
openai==1.58.1
pymupdf
sentence-transformers
faiss-cpu
langchain
langchain-groq